{%extends 'main/base.html'%} {% load bootstrap3 %} {% load static %} {% block styles %} {{ block.super }} {% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/index.css'%}"> {% endblock %} {% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-8">


            <img src="{{details.image_path.url}}" class="" alt="">

            <br>
            <div class="row">
                <div class="col-sm-6">
                    <h4>
                        <a href="{%url 'comments' details.id %}">Add comment</a>
                    </h4>
                </div>
                <div class="col-sm-6">
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <h3 class="text-center">{{details.image_name}}</h3>
            <p class="text-center">{{details.image_caption}}</p>
            <div class="container">
                <h1>Leave a Comment </h1>

                <form action="{%url 'comment' current_image.id%}" method="post" enctype="multipart/form-data">
                    {%csrf_token%} {% bootstrap_form form%}
                    <input type="submit" class="btn btn-success btn-lg" value="Post">
                </form>


            </div>
            {%for comm in comment %}
            <div class="alert alert-success" role="alert">
                <p class="text-center">{{comm.comment}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% bootstrap_javascript %} {% endblock %}