{%extends 'base.html'%} {% block content %}{% load bootstrap3 %} {{form.media}} {% load static %} {% block styles %} {% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/profile.css'%}"> {% endblock %}
<div class="container">
    <h1> Post Images </h1>
    {{form.media}}

    <form action="{%url 'postImage'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%} {% bootstrap_form form%}
        <input type="submit" class="btn btn-success btn-lg" value="Post">
    </form>


</div> {%endblock%}