{%extends 'base.html'%} {% block content %}

<div class="container">

    <div class="row">
        <img src="{{details.image.url}}" class="img-responsive" alt="">
    </div>

    <div class="row">
        <h1 class="text-center">{{details.image_name}}</h1>
        <h3 class="text-center">{{details.image_caption}}</h3>

    </div>

    <div class="row">
        <p class="text-center">Posted {{details.posted|timesince}} by {{details.user.first_name}}</p>
        <p class="text-center">
            <a href="{%url 'likes' details.id %}">

                <ion-icon name="heart">{{likes}} likes</ion-icon>
            </a>
            <button class="btn btn-success btn-lg text-center ">
    <a class="text-center" href="{% url 'comment' details.id%}">add comment</a>
</button> {% if comment %} {% for comm in comment %}
            <h4 class="text-center">comments: {{ comm.comment }}<br>{{ comm.posted }} </h4>{% endfor %}{% endif %}
    </div>

</div>


{% endblock %}