 {%extends 'base.html'%} {% block content %} {% load bootstrap3 %}{% load static%}{{ block.super}} {% block styles %} {% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"> {% endblock %}


<div class="container">

    <!-- Looping through projects   -->

    <div class="row">
        {% if image %}{% for img in image %}


        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

            <div class="row">
                <p><img style="width:50px; height:50px ; border-radius:50%;" src=" {{img.profile.avatar.url}}" class="img-responsive" alt=" image">{{img.profile.name}}</p>
            </div>
            <img src="{{img.image.url}}" class=" img img-responsive" alt="Image">
            <div class="mask">


                </h5>
                <h2 class="text-center"> {{ img.image_name }} </h2>
                <p class="text-center"> {{ img.image_caption }} </p>
                <p class="text-center"> {{ img.likes }} </p>

            </div>
        </div>

    </div>
    {% endfor %} {% else %}
    <h1>post your photos!</h1>
    {% endif %}
</div>
{% endblock%}