<nav class="navbar navbar-default navbar-fixed-top" style=" background-color:black;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
            <p style="">
                <a href="/" class="navbar-brand">
                    <img src="../static/images/logo.png" style="height:20px;">
                    <span style="font-family: 'Anton', sans-serif; display: block">Instagram</span>
                </a>
            </p>


        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left ml-auto" role="search" action="{% url 'search_name' %}">
                <div class="form-group">
                    <input style="background:white;" type="text" class="form-control" placeholder="Search Username" name="name">
                </div>
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </form>
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link active" href="/explore">
                        <img src="../static/images/navigation.png" class="img-fluid small" style="height: 40px;">
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
                        <span>
                            <ion-icon style="font-size:200%;" name="contact"></ion-icon>
                            <class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/images">Upload Photo</a>
                        </li>
                        <li>
                            <a href="{% url 'profile' user.id %}">{{user.username}}</a>
                        </li>
                        <li>
                            <a href="/accounts/password/change">Change Password</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            {%else%}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/accounts/login">Login</a>
                </li>
            </ul>
        </div>
    </div>



</nav>
{% endif %}